.App {
  height: 100vh;
  background-color: #2b2d42;
  overflow: scroll;
  text-align: center;
  /* animation-name: normal-background;
  animation-duration: 2s; */
}

.fighting {
  background-color: #821415;
  animation-name: fighting-background;
  animation-duration: 2s;
}

.fight-done {
  background-color: #2b2d42;
  animation-name: normal-background;
  animation-duration: 2s;
}

@keyframes fighting-background {
  from {
    background-color: #2b2d42;
  }
  to {
    background-color: #821415;
  }
}

@keyframes normal-background {
  from {
    background-color: #821415;
  }
  to {
    background-color: #2b2d42;
  }
}

.container {
  height: 100%;
  /* background-color: #0d1116; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.sub-text {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.87);
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #abb4c4 0%,
    #a0aabb 0%,
    #a0aabb 21%,
    #8d99ae 52%,
    #8894aa 78%,
    #7c89a2 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
